@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", sans-serif;
  font-style: bold;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/img/img.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -1;
}

div {
  padding: 10px;
}

form,
h1,
p {
  background-color: #04040495;
  border-radius: 20px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

h1,
span {
  font-size: 36px;
}

p {
  font-size: 18px;
  padding: 0 52px;
}

form {
  background-color: #040404c5;
}

label {
  display: block;
  flex: 1;
}

span {
  display: block;
}

input,
select {
  background-color: #fff;
  display: block;
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

select {
  color: #7e7e7e;
}

.form-row {
  display: flex;
  gap: 20px;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.morning,
.evening,
.checkbox {
  display: flex;
  margin: auto;
  align-items: center;
  font-size: 18px;
}

.checkbox-item {
  display: inline-block;
  margin: 5px 5px;
  border: 1px solid #fff;
}

textarea {
  background-color: #fff;
  align-items: center;
  width: 80%;
  padding: 5%;
  border-radius: 15px;
  resize: vertical;
}

button {
  background-color: #009846;
  color: #fff;
  border-radius: 15px;
  width: 80%;
  height: 34px;
}
